*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.Mydiv{
    width: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    height: 1000px;
    justify-content: space-between;
}
.square{
    width: (100%/10 - 10px);
    background-color: blue;
}
.buzz{
    background-color: red;
}
.fizz{
   background-color: aquamarine;
}
.fizzBuzz{
    background-color: blueviolet;
}