*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#Mydiv{
    width: 800px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    height: 800px;
    justify-content: space-between;
}
.normal{
    background-color: blue;
    display: flex;
}
.buzz{
    background-color: red;
    display: flex;
}
.fizz{
    background-color: aquamarine;
    display: flex;
}
.both{
    background-color: blueviolet;
    display: flex;
}    
.square{
    width: calc(100%/10 - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}